strong {
  font-weight: bold;
}

a {
  color: #ffb300;
  font-weight: 400;
}

.text {
  line-height: 1.7;
}

.address, .contact-us {
    letter-spacing: 1px;
    line-height: 1.14;
    font-weight: 400;
    font-size: 40px;
}

.map-wrapper {
  padding: 0px;
  background-color: #f5f5f5;
}
