<app-navigation></app-navigation>
<section class="page-name">
  <div class="container d-flex justify-content-center">
    <h2>Kontakt</h2>
  </div>
</section>

<div class="container-sm page-body min-vh-100">

  <div class="row map-section">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0">

      <div id="mapa" style="width:100%; height:400px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-6">
      <h2 class="mb-4 address">Adresa:</h2>
      <p class="text">
        <strong>Havky Mňauky reštaurácia</strong><br>
        Námestie Juraja Pejku,<br>
        976 63 Predajná<br>
      </p>
      <p>
        info@havky-mnauky.sk<br>
        <a target="_blank" href="havky-mnauky.herokuapp.com">havky-mnauky.herokuapp.com</a>
      </p>
      <p>Tešíme sa na Vašu návštevu 🙂</p>
    </div>

    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-6">
      <h2 class="mb-4 contact-us">Napíšte nám:</h2>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>

<app-footer></app-footer>
