.top-bar {
  background-color: var(--main-color);
  min-height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;

  box-shadow: 2px 2px;
  z-index: 100;

  .container-fluid {
    padding: 0px 50px;
  }

  .icon {
    font-size: 30px;
    color: #fff;
    display: none;
  }

  a {
    padding: 2px 2px;
  }

  a:hover {
    cursor: pointer;
  }
}


.page-body-holder {
  display: flex;
  width: 100%;
  align-items: stretch;
}

mat-drawer {
  margin-top: 60px;
  position: fixed;
}

.side-wrap {
  margin-top: 60px;
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 100%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  margin-top: 60px;
  margin-left: 260px;
  width: 100%;
  transition: all 0.3s;
  background: #f3f5f6;
  min-height: 94vh;

  h3 {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 1.05px;
    margin: 0;
  }

  h2 {
    letter-spacing: 1px;
    line-height: 1.14;
    font-weight: 400;
    font-size: 38px;
    margin: 0;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.14;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
  }

  .card-body {
    text-align: center;
  }

  .container-fluid {
    padding: 40px;
  }

  .cards-holder {
    display: block;
    padding: 30px 30px 0;

    .card {
      background: white;
      position: relative;
      display: flex;
      margin-bottom: 30px;
      border-width: 0px;

      .card-body {
        padding-top: 25px;
        padding-bottom: 5px;
      }

      .info {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 5px ;
      }
      .content {
        margin: 18px 0px ;
      }

    }

    .meals-holder {

      .new-meal {
        i {
          color: var(--main-color);
          font-size: 50px;
          padding: 0;
        }
        i:hover {
          color: #e2b76b;
        }
      }

      .delete-meal {
        i {
          color: #f12020;
          font-size: 20px;
          padding: 0;
        }
        i:hover {
          color: #e75c5c;
        }
      }

      .meal-card {
        width: 250px;
        min-height: 230px;
        margin-bottom: 0;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);

        &:hover {
          transition: all 0.2s ease-out;
          top: -4px;
        }
      }

      h1 {
        text-transform: none;
        letter-spacing: 1px;
        line-height: 1.14;
        font-weight: 300;
        font-size: 23px;
        margin: 0;
      }

      h2{
        text-transform: none;
        letter-spacing: 1px;
        line-height: 1.14;
        font-weight: 400;
        font-size: 35px;
        margin: 0;
      }
    }

  }

}

.side-wrap {
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1100px) {

  .side-wrap {
    display: none;
  }

  #content {
    margin-left: 0;
  }

  .top-bar {
    .icon {
      display: block;
    }
  }

  .mat-drawer-container-has-open {

    .mat-drawer-opened {
      overflow: scroll;
    }
    .container-fluid {


    }
  }

}

@media (max-width: 767.98px) {

  #content {
    .cards-holder {
      padding: 15px 15px 0;

      .card {
        margin-bottom: 15px;
      }
    }
  }
}
