<app-navigation></app-navigation>

<section class="page-name">
  <div class="container d-flex justify-content-center">
    <h2>O nás</h2>
  </div>
</section>

<div class="container-sm page-body">

  <div class="row text-section">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-8 text-justify">
      <p class="text pb-3">
        Láska k dobrému jedlu a bohaté skúsenosti nášho hlavného kuchára stáli za myšlienkou zrodu Havky Mňauky.
        Reštaurácia, ktorá si kladie za cieľ uspokojiť chuť svojich hostí a dopriať im denne počas pracovného týždňa čerstvý a nápaditý obed v podobe obedového menu.
      </p>
      <p class="text pb-3">
        Hlavným základom našich jedál sú kvalitné, sezónne a hlavne čerstvé potraviny, ktoré spracuvávame s láskou a nadšením.
        Tieto suroviny sú odoberané od prevažne lokálnych pestovateľov a chovateľov, čím podporujeme lokálny rozvoj hospodárstva.
        Váš obed je pripravovaný zo zdravých surovím, ktoré sú súčasťou našej slovenskej kuchyne.
      </p>
      <p class="text pb-3">
        Havky Mňauky je tu pre tých, ktorí radi obedujú dobre a v príjemnom prostredí.
        Nech sa páči, poďte s nami zdieľať naše nadšenie pre radosť zo života pretavenú do dobrého a nápaditého jedla.
        V našej malej reštaurácii umiestnenej priamo v centre malebnej dedinky s názvom Predajná s príjemnou atmosférou, na Vás toto všetko čaká.
      </p>
      <p class="text strong pb-1">
          Vitajte a užívajte si príjemnú atmosféru a skvelé jedlo v našich otváracích hodinách:
      </p>

      <table class="table mb-4">
        <thead>
        <tr>
          <th scope="col">Pracovný deň</th>
          <th scope="col">Od</th>
          <th scope="col">Do</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">Pondelok</th>
          <td>11:00</td>
          <td>21:00</td>
        </tr>
        <tr>
          <th scope="row">Utorok</th>
          <td>11:00</td>
          <td>21:00</td>
        </tr>
        <tr>
          <th scope="row">Streda</th>
          <td>11:00</td>
          <td>21:00</td>
        </tr>
        <tr>
          <th scope="row">Štvrtok</th>
          <td>11:00</td>
          <td>21:00</td>
        </tr>
        <tr>
          <th scope="row">Piatok</th>
          <td>11:00</td>
          <td>22:00</td>
        </tr>
        <tr>
          <th scope="row">Sobota</th>
          <td>11:00</td>
          <td>22:00</td>
        </tr>
        <tr>
          <th scope="row">Nedeľa</th>
          <td>14:00</td>
          <td>20:00</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-4">
      <img class="img-fluid d-block mx-auto mb-4 pb-2" src="../../../assets/snack1.jpg">
      <img class="img-fluid d-block mx-auto mb-4 pb-2" src="../../../assets/snack3.jpg">
      <img class="img-fluid d-block mx-auto mb-4 pb-2" src="../../../assets/snack2.jpg">
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-10 col-sm-12 col-lg-6 mb-4 pb-2 mb-lg-0 i1">
      <img class="img-fluid d-block mx-auto img1" src="../../../assets/snack4.jpg">
    </div>
    <div class="col-10 col-sm-12 col-lg-6 i2">
      <img src="../../../assets/snack5.jpg" class="img-fluid d-block mx-auto img2" >
    </div>
  </div>
</div>


<app-footer></app-footer>
