<div class="d-flex justify-content-center align-items-center min-vh-100 text-center loginView">

  <div class="col-8 col-sm-6 col-md-4 col-xl-2 mb-5 mx-3 shadow loginForm">
    <form class="my-3 mx-1" (ngSubmit)="submit()" [formGroup]="form">
      <img class="mb-2 logo" src="assets/logo.png" alt="" width="72" height="72" [routerLink]="'/'">
      <h1 class="h3 mb-3 font-weight-normal">Prihláste sa</h1>
      <div class="form-group mb-2">
        <input type="text" class="form-control" placeholder="Meno" formControlName="username"
               [class.is-invalid]="!isLoginInformationRight">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Heslo" formControlName="password"
               [class.is-invalid]="!isPasswordRight">
      </div>
      <button [disabled]="form.invalid" type="submit" class="btn btn-lg btn-block sign-in-btn d-flex justify-content-center">
        <div class="spinner" *ngIf="isLoading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <div *ngIf="isLoading!=true">Prihlásiť</div>
      </button>

      <div *ngIf="!isPasswordRight"><p class="text-danger mt-3">Ľutujeme, zadané heslo je nesprávne. Dôkladne ho skontrolujte.</p></div>
      <div *ngIf="!isLoginInformationRight"><p class="text-danger mt-3">Používateľ, ktorého ste zadali, nepatrí k účtu. Skontrolujte svoje používateľské meno a skúste znova.</p></div>
      <p class="mt-5 mb-3 text-muted">© 2020 Lany</p>
    </form>
  </div>
</div>
