<app-navigation></app-navigation>

<section class="page-name">
  <div class="container d-flex justify-content-center">
    <h2>Catering</h2>
  </div>
</section>

<div class="container-sm page-body">

  <div class="row text-section">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-8 text-justify">
      <p class="text pb-3">
        Príjemné prostredie Havky Mňauky reštaurácie je skvelým miestom pre Vaše rodinné oslavy i pre firemné stretnutia s kapacitou do 25 hostí.
        V letnom období je pre Vás pripravená aj letná terasa s kapacitou do 15 ľudí.
      </p>
      <p class="text pb-3">
        Základom nášho cateringu sú kvalitné suroviny a nápadité, jednoduché jedlá. Ku kvalitnému jedlu neodmysliteľne patria aj kvalitné nápoje.
        Preto by sme Vám radi ponúkli široký výber pivných špeciálov a kvalitných slovenských vín, ktoré môžu obohatiť Váš gastronomický zážitok.
        Vychutnajte si taktiež aj špeciality, ktoré Vám vieme pripraviť na požiadanie, ako napríklad pravé domáce pagáče, obložené misy či veľké stoly plné chuťoviek.
      </p>
      <p class="text pb-3">
        Spoľahnite sa na nás, disponujeme špičkovým gastronomickým vybavením a technológiou, ako aj chuťou pripraviť pre Vás jedinečný
        catering so zážitkom podľa Vašich predstáv.
      </p>
      <p class="text strong pb-2">
        V prípade záujmu o catering nás kontaktuje:
      </p>
      <app-contact-form></app-contact-form>
    </div>

    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-4">
      <img class="img-fluid d-block mx-auto mb-3" src="../../../assets/catering.jpg">
      <p class="text info-box">
        <strong>Havky Mňauky reštaurácia</strong><br>
        <strong>Kapacita: </strong>25 ľudí + letná terasa<br>
        <strong>Poloha: </strong><a target="_blank" href="https://goo.gl/maps/qmLp84J9YcFgcNTUA">Námestie Juraja Pejku, Predajná</a><br>
        <strong>Typ eventu: </strong>rodinné oslavy, stretnutia, kary, firemné akcie, večierky a pod.
      </p>
    </div>
  </div>

</div>

<app-footer></app-footer>
