<app-navigation></app-navigation>

<section class="page-name">
  <div class="container d-flex justify-content-center">
    <h2>Catering</h2>
  </div>
</section>

<div class="container-sm page-body min-vh-100">
  <div class="row text-section">
    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-8 text-justify">
      <p class="text pb-3">
        Láska k dobrému jedlu a bohaté skúsenosti nášho hlavného kuchára stáli za myšlienkou zrodu Havky Mňauky.
        Reštaurácia, ktorá si kladie za cieľ uspokojiť chuť svojich hostí a dopriať im denne počas pracovného týždňa čerstvý a nápaditý obed v podobe obedového menu.
      </p>
      <p class="text pb-3">
        Hlavným základom našich jedál sú kvalitné, sezónne a hlavne čerstvé potraviny, ktoré spracuvávame s láskou a nadšením.
        Tieto suroviny sú odoberané od prevažne lokálnych pestovateľov a chovateľov, čím podporujeme lokálny rozvoj hospodárstva.
        Váš obed je pripravovaný zo zdravých surovím, ktoré sú súčasťou našej slovenskej kuchyne.
      </p>
    </div>

    <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-md-4">
      <img class="img-fluid d-block mx-auto mb-4 pb-2" src="../../../assets/catering.jpg">
    </div>
  </div>
</div>

<app-footer></app-footer>
