
.top-bar {
  background-color: var(--main-color);
  min-height: 60px;

  .container {
    text-align: right;
  }

  .chef-login {
    margin-right: 30px;
    i {
      color: white;
      font-size: 30px;
      padding: 15px 10px;
    }
    i:hover {
      background-color: #f6be4c;
    }
  }

}

.rgt-float {
  float: right;
}

.top-menu {
  width: auto;
  overflow: hidden;
}

.top-menu {
   a {
     display: inline-block;
     padding: 30px 25px;
     text-align: center;

     font-weight: 700;
     font-size: 18px;
     letter-spacing: 1.3px;
     text-transform: uppercase;
     text-decoration: none;

     color: #4d4d4c;
     border-bottom: 4px solid transparent;
   }

   .active {
     border-bottom: 5px solid var(--main-color);
     color: #135359;
   }

   a:hover {
     color: var(--main-color);
     text-decoration: none;
   }
 }

.logo-section {
  .logo {
    padding: 0px 25px;
  }
  .logo-small {
    display: none;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 991px) {
  .top-bar {
    .chef-login{
      margin-right: 12px;
    }
  }
  .top-menu {
    width: 100%;
    padding: 0% 15%;

    position: center;
    max-height: 0;
    transition: all .3s;

    a {
      display: block;
      padding: 10px;
    }
  }

  .top-menu.open {
    max-height: 70vh;
  }

  .nav-section {
    margin-top: 7px;
  }

  .logo-section {
    .logo {
      padding: 0px 20px;
    }
    .icon {
      margin: 20px 18px;
      padding: 2px 2px;
      display: inline-block;
      float: right;
      font-size: 30px;
    }

    .icon.closed {
        display: none;
    }

    .fa {
      color: var(--main-color);
    }

    .icon:hover {
      cursor: pointer;
    }

  }
}

@media (max-width: 768px) {

  .logo-section {

    .icon {
      margin: 20px 18px;
      padding: 2px 2px;
      font-size: 30px;
    }

    .logo-small {
      display: inline-block;
      padding: 0px 20px;
    }
    .logo {
      display: none;
    }
  }

  .top-menu {
    a {
      font-size: 20px;
    }
  }

  .top-bar {
    min-height: 10vh;
    .logo-wrapper {
      margin-top: 2vh;
      min-height: 4vh;
    }
  }

}



