<div class="col-12 top-bar">
  <div class="container">
    <!--            <div class="rgt-float topBrar-search">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>-->
  </div>
</div>

<nav class="navbar navbar-expand-lg">
  <div class="row">

    <div class="col-md-3 col-sm-3 logo-section">
      OBRAZOK
    </div>

    <div class="col-md-9 col-sm-9 nav-section">
      <div class="container">
          <div class="navbar-collapse">
              <div class="top-menu rgt-float open">
                  <!--<a href="#" class="icon">
                      <i class="fa fa-bars"></i>
                  </a>-->
                  <a class="active" href="#Main.html">O nás</a>
                  <a href="#">Denné menu</a>
                  <a href="#">Catering</a>
                  <a href="#">kontakt</a>
              </div>
          </div>
      </div>
    </div>

  </div>
</nav>

