<div class="col-12 top-bar">
  <div class="container">
    <!--            <div class="rgt-float topBrar-search">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>-->
  </div>
</div>

<nav class="navbar navbar-expand-lg">
<div class="container-xl mt-3">
    <div class="col-md-12 col-lg-3 logo-section">
      <a href="#" class="logo">
        <img class="my-2" src="assets/logo_big.png">
      </a>
      <a href="#" class="logo-small">
        <img src="assets/logo_big.png">
      </a>
      <a class="icon" (click)="toggleNavbar()" [ngClass]="{' closed': navbarOpen}">
        <i class="fa fa-bars"></i>
      </a>
      <a class="icon" (click)="toggleNavbar()" [ngClass]="{' closed': !navbarOpen}">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="col-md-12 col-lg-9  nav-section">
      <div class="top-menu rgt-float" [ngClass]="{' open': navbarOpen}">
        <a routerLinkActive="active" [routerLink]="'/about'">O nás</a>
        <a routerLinkActive="active" [routerLink]="'/menu'">Denné menu</a>
        <a routerLinkActive="active" [routerLink]="'/catering'">Catering</a>
        <a routerLinkActive="active" [routerLink]="'/contact'">Kontakt</a>
      </div>
    </div>
  </div>

</nav>

