<div class="top-bar">
  <div class="container f text-right">
    <div class="row">
      <div class="col-12">
        <a href="#" class="chef-login"><i class="fa fa-user"></i></a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg m-0 p-0">
<div class="container-sm">
    <div class="col-md-12 col-lg-3 logo-section">
      <a href="#" class="logo">
        <img class="my-2" src="assets/logo_big.png">
      </a>
      <a href="#" class="logo-small">
        <img class="my-2" src="assets/logo_big.png">
      </a>
      <a class="icon" (click)="toggleNavbar()" [ngClass]="{' closed': navbarOpen}">
        <i class="fa fa-bars"></i>
      </a>
      <a class="icon" (click)="toggleNavbar()" [ngClass]="{' closed': !navbarOpen}">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="col-md-12 col-lg-9  nav-section">
      <div class="top-menu rgt-float" [ngClass]="{' open': navbarOpen}">
        <a routerLinkActive="active" [routerLink]="'/about'" (click)="toggleNavbar()">O nás</a>
        <a routerLinkActive="active" [routerLink]="'/menu'" (click)="toggleNavbar()">Denné menu</a>
        <a routerLinkActive="active" [routerLink]="'/catering'" (click)="toggleNavbar()">Catering</a>
        <a routerLinkActive="active" [routerLink]="'/contact'" (click)="toggleNavbar()">Kontakt</a>
      </div>
    </div>
  </div>

</nav>

